[project]
	description = BT Download
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/fryduckaijing (fryduckaijing)
[access "refs/for/refs/*"]
	read = group user/fryduckaijing (fryduckaijing)
	push = group user/fryduckaijing (fryduckaijing)
	label-Code-Review = -2..+2 group user/fryduckaijing (fryduckaijing)
	label-Verified = -1..+1 group user/fryduckaijing (fryduckaijing)
	rebase = group user/fryduckaijing (fryduckaijing)
	removeReviewer = group user/fryduckaijing (fryduckaijing)
	submit = group user/fryduckaijing (fryduckaijing)
[access "refs/heads/*"]
	read = group user/fryduckaijing (fryduckaijing)
	create = group user/fryduckaijing (fryduckaijing)
	push = +force group user/fryduckaijing (fryduckaijing)
	pushMerge = group user/fryduckaijing (fryduckaijing)
	label-Code-Review = -2..+2 group user/fryduckaijing (fryduckaijing)
	label-Verified = -1..+1 group user/fryduckaijing (fryduckaijing)
	submit = group user/fryduckaijing (fryduckaijing)
	forgeAuthor = group user/fryduckaijing (fryduckaijing)
	forgeCommitter = group user/fryduckaijing (fryduckaijing)
[access "refs/tags/*"]
	push = group user/fryduckaijing (fryduckaijing)
	push = +force group user/fryduckaijing (fryduckaijing)
[receive]
	requireChangeId = true
[access "refs/for/test"]
	forgeAuthor = group user/fryduckaijing (fryduckaijing)
	forgeCommitter = group user/fryduckaijing (fryduckaijing)
	label-Code-Review = -2..+2 group user/fryduckaijing (fryduckaijing)
	label-Verified = -1..+1 group user/fryduckaijing (fryduckaijing)
	submit = group user/fryduckaijing (fryduckaijing)
