[project]
	description = BT Download
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/fryduckaijing
[access "refs/for/refs/*"]
	read = group user/fryduckaijing
	push = group user/fryduckaijing
	label-Code-Review = -2..+2 group user/fryduckaijing
	label-Verified = -1..+1 group user/fryduckaijing
	rebase = group user/fryduckaijing
	removeReviewer = group user/fryduckaijing
	submit = group user/fryduckaijing
[access "refs/heads/*"]
	read = group user/fryduckaijing
	create = group user/fryduckaijing
	push = +force group user/fryduckaijing
	pushMerge = group user/fryduckaijing
[access "refs/tags/*"]
	push = group user/fryduckaijing
	push = +force group user/fryduckaijing
[receive]
	requireChangeId = true
